@use "../../styles/variables.scss" as *;

.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  &__main {
    padding: 56px 40px 86px;

    & > div {
      max-width: 1126px;
      margin: 0 auto;
    }
  }

  &__title {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;

    span {
      color: $primary-content-color;
    }
  }

  &__congrats {
    margin: 28px 0 0;
  }

  &__data {
    margin-top: 77px;
  }

  &__nutrition-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
