.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile__content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto 1fr;
}

.profile__main {
  padding: 56px 40px 86px;
}

.profile__main > div {
  max-width: 1126px;
  margin: 0 auto;
}

.profile__title {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

.profile__title span {
  color: #ff0101;
}

.profile__congrats {
  margin: 28px 0 0;
}

.profile__data {
  margin-top: 77px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
}

.profile__data-full {
  grid-column: 1/4;
}

.profile__nutrition-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row: 1/3;
  grid-column: 4/5;
}
