@use "./variables.scss" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: $primary-text-color;
  background-color: $bg-color;
  line-height: 1.5;
}
