$primary-content-color: #ff0101;
$secondary-content-color: #020203;
$tertiary-content-color: #282d30;

$bg-color: #fff;

$primary-text-color: #282d30;
$secondary-text-color: #74798c;
$dark-bg-text-color: #fff;

$corner-radius: 6px;
