.header {
  background-color: #020203;
  padding: 16px 90px 16px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__logo {
  height: 58px;
  display: block;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.header__link {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.header__link:hover {
  text-decoration: underline;
}
