@use "../../styles/variables.scss" as *;

.header {
  background-color: $secondary-content-color;
  padding: 16px 90px 16px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 2;

  &__logo {
    height: 58px;
    display: block;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__link {
    font-size: 24px;
    color: $dark-bg-text-color;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
