.performance-info {
  background-color: #282d30;
  border-radius: 6px;
}

.performance-info__error {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
}
