.sidebar {
  background-color: #020203;
  padding: 60px 28px 60px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 90px;
  grid-row: 2/3;
}

.sidebar__link {
  background-color: #fff;
  border-radius: 6px;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__link-img {
  height: 32px;
}

.sidebar__legal {
  writing-mode: sideways-lr;
  margin: auto 0 0;
  color: #fff;
  align-content: center;
  font-size: 12px;
  grid-row: 3/4;
}
