@use "../../styles/variables.scss" as *;

.sidebar {
  background-color: $secondary-content-color;
  padding: 60px 28px 60px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 90px;
    grid-row: 2/3;
  }

  &__link {
    background-color: #fff;
    border-radius: $corner-radius;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-img {
    height: 32px;
  }

  &__legal {
    writing-mode: sideways-lr;
    margin: auto 0 0;
    color: #fff;
    align-content: center;
    font-size: 12px;
    grid-row: 3/4;
  }
}
